body {
    background-image: url(../src/image/bgTop.jpg);
    background-size: 45%;
    background-color:rgba(255,255,255,0.6);
    background-blend-mode:lighten;
    background-repeat: repeat;

}
.mainColumnWorks{
    padding: 0 10rem;
    
}
