body {
    background-image: url(../src/image/profile.jpg);
    background-size: 30%;
    background-repeat: repeat;

}

.mainColumnProfile{
    padding: 0 15%;
   
}

.mainColumnProfile h2 {
    text-align: center;
}

.profileBodyItem{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.profileBodyItemLabel{
    width: 20%;
}

.profileBodyItemValue{
    width: 80%;
}
